<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Britannia Shop", root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Store", products_path, class: "nav-link" %> <span class="sr-only">(current)</span>
      </li>
      <li class="nav-item dropdown">
      <div id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= link_to "Categories", categories_path, class: "nav-link dropdown-toggle" %>
      </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Electronics", electronics_path, class:"dropdown-item" %>
          <%= link_to "Clothing", clothing_path, class:"dropdown-item" %>
          <%= link_to "Lifestyle", lifestyle_path, class:"dropdown-item" %>
          <%= link_to "Home", home_path, class:"dropdown-item" %>
        </div>
      </li>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </ul>