<div class="container">
  <div class="row">
    <% @products.each do |product| %>
	  <div class="col-xs-18 col-sm-4 col-md-3 space">
		  <div class="productbox">
			  <div class="imgthumb img-responsive">
			    <%= link_to product_path(product) do %>
				  <p><%= image_tag product.image %></p>
			  </div>
			  <div class="caption">
			    <div class="container">
            <div class="random btn btn-success" data-toggle="collapse"><%= product.name %></div>
            <% end %>
            <div class="random btn btn-info float-right" data-toggle="collapse"><%= product.category.name %></div>
          </div>
        </div>
			</div>
		</div>
		<% end %>
	</div>
	<%= link_to "nEW", new_product_path %>
</div>