<% @products.each_slice(3) do |product| %>
  <div class="row">
    <% product.each do |product| %>
      <div class="col-md-4">
        <div class="product">
          <div class="image_wrapper">
            <%= link_to product do %>
              <%= image_tag product.image, width:'200px', height:'200px', class:'product_image' %>
            <% end %>
          <h2 class="float-left">
            <%= link_to product.name, product %>
          </h2>
          <h2 class="float-right"><%= link_to product.category.name %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>
<%= link_to 'Back to Top', root_path, class: 'btn btn-primary' %>