<!DOCTYPE html>
<html>
<head>
  <title>BritanniaShopper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "Britannia Shop", root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Store", products_path, class: "nav-link" %> <span class="sr-only">(current)</span>
      </li>
      <li class="nav-item dropdown">
      <div id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= link_to "Categories", categories_path, class: "nav-link dropdown-toggle" %>
      </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Electronics", electronics_path, class:"dropdown-item" %>
          <%= link_to "Clothing", clothing_path, class:"dropdown-item" %>
          <%= link_to "Lifestyle", lifestyle_path, class:"dropdown-item" %>
          <%= link_to "Home", home_path, class:"dropdown-item" %>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="navbar-collapse collapse dual-nav w-50 order-2">
      <ul class="nav navbar-nav ml-auto">
        <% if user_signed_in? %>
  		  <%= link_to destroy_user_session_path, class:'nav-link' do %>
  		    <span class="icon">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></span>
  		  <% end %>
  		  <% end %>
  		  <%= link_to new_user_session_path, class:'nav-link' do %>
  		    <span class="icon">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></span>
  		  <% end %>
       <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-twitter"></i></a></li>
       <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
   <% if notice %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p id="alert" class="alert alert-info glyphicon glyphicon-asterisk"><%= alert %></p>
  <% end %>
  <%= yield %>
</div>


</body>
</html>
