<!DOCTYPE html>
<html>
<head>
  <title>BritanniaShopper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= render 'navbar/navbar_left' %>
    
<%= render 'navbar/navbar_right' %>
<div class="container">
   <% if notice %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p id="alert" class="alert alert-info glyphicon glyphicon-asterisk"><%= alert %></p>
  <% end %>
  <%= yield %>
</div>

<center>
  
      <footer>
        <p>&copy; BritanniaDev 2018</p>
      </footer>
</center>


</body>
</html>
